* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid green;
    height: 90vh;
    max-height: 100%;
}

form .form-group {
    border: 3px solid orange;
    padding: 2rem 0;
    background-color: orange;
}

form .form-group .container-input {
    padding: 0.1rem 2rem;
}

form .form-group .container-input label {
    display: block;
    font-size: 16px;

}

form .container-input textarea {
    resize: none;
    max-width: 100%;
}

form .container-input textarea:focus {
    width: 100%;
    height: 100%;
}

form .container-input .btn {
    padding: 0.5rem 1rem;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 3px solid red;
    z-index: 1;
    padding: 1rem;
    height: 5vh;
}

#main-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#main-nav ul li a {
    color: darkblue;
    padding: 0.75rem
}

footer {
    height: 5vh;
    border: 3px solid blue;
}
