{% extends "base.html" %}

{% block content %}

<form action="" method="POST" novalidate>
    <div class="form-group">
        {{ form.hidden_tag() }}
        <div class="container-input">
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
        <div class="container-input">
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
        <div class="container-input">
            <p>{{ form.remember_me(id="check") }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class="btn") }}</p>
        </div>
   
    </div>
</form>
{% endblock %}